/***********************
** Unirversal CSS Selector 
*/
/* div.red {
  background-color: red;
} */

/* // combining toguether classes & concatinate classes*/
/* span,
li.red {
  background-color: chartreuse;
} */

/* // target any level of chill in */
/* div b {
  background-color: rgb(207, 178, 11);
} */

/* //  the > target a direct chill of */
/* span > b {
  background-color: rgb(98, 0, 255);
} */
.btn {
  color: #fff;
  background-color: coral;
  position: absolute;
  text-align: center;
  font-size: 18px;
  left: 50%;
  top: 50%;
}

/* // target avery sibling after the class .red here */
/* li.red ~ li {
  background-color: rgb(98, 0, 255);
} */

/* // target the very next sibling after the class .red here */
/* li.red + li {
  background-color: rgb(98, 0, 255);
} */

/* hover selector */
li:hover {
  background: red;
}

/* hover selector */
.btn:hover {
  background: lightgreen;
  color: #333;
}

/* focus selector */
input:focus {
  background: #333;
  color: #fff;
}

/* focus require */
input:required {
  background: red;
  color: #fff;
}

/* // first-child selector */
/* li:first-child{
  background: red;
} */

/* // select 2 minus 1-first child selector */
li:nth-child(2n - 1) {
  background: red;
}

/* // select 2 minus 1-lasdt child from the selector */
li:nth-last-child(2n - 1) {
  background: rgb(95, 255, 80);
}

span:only-child{
  background:violet;
}

/* // last-of-type selector */
/* li:last-of-type{
  background:red;
} */

/* // not sudo class selector */
/* li:not(.green){
background: #333;
} */

/* // Before sudo element  */
div.red::before{
  content: 'Before';
  background: red;
}

/* // After sudo element  */
div.red::after{
  content: 'After';
  background: red;
}

